flask
flask-assets
flask-reverse-proxy
requests
requests-file
-e git+https://github.com/inspirehep/json-merger.git#egg=json-merger
-e git+https://github.com/inspirehep/inspire-next.git#egg=inspire-next
-e git+https://github.com/inveniosoftware/dictdiffer.git@e637f35#egg=dictdiffer-1.5.1
