flask
flask-assets
requests
requests-file
json-merger[contrib]
-e git+https://github.com/inspirehep/inspire-next.git@adba7c99a474604450eb0caf6ab09478f11322fb#egg=inspire-next

# which comes with
-e git+https://github.com/inspirehep/invenio-query-parser.git@invenio3-inspire#egg=invenio-query-parser==0.6.0

# INSPIRE forks of Invenio packages
-e git+https://github.com/inspirehep/invenio-pidstore.git#egg=invenio-pidstore

# Workflows and Holding Pen related dependencies
-e git+https://github.com/inveniosoftware/invenio-classifier.git#egg=invenio-classifier
-e git+https://github.com/inspirehep/invenio-matcher.git#egg=invenio-matcher
-e git+https://github.com/inspirehep/invenio-workflows.git@qa#egg=invenio-workflows==1.0.0a1.dev20160624
-e git+https://github.com/inspirehep/invenio-workflows-ui.git@qa#egg=invenio-workflows-ui==1.0.0a1.dev20160624
-e git+https://github.com/inspirehep/invenio-workflows-files.git@master#egg=invenio-workflows-files==0.1.0.dev20160000


