flask
flask-assets
flask-reverse-proxy
requests
requests-file
-e git+https://github.com/inspirehep/json-merger.git@master#egg=json-merger[contrib]
-e git+https://github.com/inspirehep/inspire-next.git@master#egg=inspire-next
-e git+https://github.com/inspirehep/invenio-query-parser.git@invenio3-inspire#egg=invenio-query-parser==0.6.0

# Packages where we need bleeding edge and are not yet available on PyPI
-e git+https://github.com/inspirehep/invenio-pidstore.git#egg=invenio-pidstore
-e git+https://github.com/inveniosoftware/invenio-indexer.git#egg=invenio-indexer==1.0.0a6.dev20160525

# Workflows and Holding Pen related dependencies
-e git+https://github.com/inveniosoftware/invenio-oaiharvester.git#egg=invenio-oaiharvester
-e git+https://github.com/inveniosoftware/invenio-classifier.git#egg=invenio-classifier
-e git+https://github.com/inspirehep/invenio-matcher.git#egg=invenio-matcher
-e git+https://github.com/inspirehep/workflow.git#egg=workflow==2.0.0.dev20160223
-e git+https://github.com/inspirehep/invenio-workflows.git@invenio3#egg=invenio-workflows==1.0.0a1.dev20160126
-e git+https://github.com/inspirehep/invenio-workflows-ui.git@master#egg=invenio-workflows-ui==0.1.0.dev20160000

# Flask CLI with iPython integration
-e git+https://github.com/inspirehep/flask-cli.git@master#egg=flask-cli==0.3.1.dev20160518
