{% extends 'layout.html' %}
{% block head %}
{% assets "viewer_js" %}
    <script type="text/javascript" src="{{ request.environ.get('SCRIPT_NAME', '') + ASSET_URL }}"></script>
{% endassets %}
{% assets "viewer_css" %}
    <link rel="stylesheet" href="{{ request.environ.get('SCRIPT_NAME', '') + ASSET_URL }}">
{% endassets %}
{% endblock %}
{% block content %}
  <h1>Diff</h1>
  <h3>{{ description }}</h3>
<div ng-app="diffApp">
    <merge-view merge-info='{{merge_info|tojson|safe}}'
                template="{{ request.environ.get('SCRIPT_NAME', '') + '/static/ng_templates/merge_view.html'}}">
    </merge-view>
</div>
{% endblock content %}
