{% extends 'layout.html' %}
{% block head %}
<script src="/bower/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower/angular-object-diff/dist/angular-object-diff.min.js"></script>
<link rel="stylesheet" href="/bower/angular-object-diff/dist/angular-object-diff.css">
<script src="/static/app.js"></script>
{% endblock %}
{% block content %}
  <h1>Diff</h1>
  <h3>{{ description }}</h3>
<div ng-app="diffApp">
    <merge-view merge-info='{{merge_info|tojson|safe}}'></merge-view>
</div>
{% endblock content %}
