{% extends 'layout.html' %}
{% block head %}
<script type="text/javascript" src="/bower/jsondiffpatch/public/build/jsondiffpatch.min.js"></script>
<script type="text/javascript" src="/bower/jsondiffpatch/public/build/jsondiffpatch-formatters.min.js"></script>
<link rel="stylesheet" href="/bower/jsondiffpatch/public/formatters-styles/html.css" type="text/css" />
<script src="/static/app.js"></script>
{% endblock %}
{% block content %}
<h1>Merge</h1>
<h2>{{ description }}</h2>
<div ng-app="diffApp">
    <merge-view merge-info-txt='{{merge_info|tojson|safe}}'></merge-view>
</div>
{% endblock content %}
