{% extends 'layout.html' %}
{% block head %}
{% assets "upload_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block content %}
  <div class="row-fluid">
      <div class={{column_class}}>
        <h2>Manual Tests</h2>
        <dl>
          {% for test in tests %}
          <dt><a href="{{url_for('show_fixture', dirname='fixtures', fixture=test)}}">{{test}}</a></dt>
          {% endfor %}
        <dl>
    </div>
    <div class="{{column_class}}">
        <h2>Uploaded Tests</h2>
        <dl>
          {% for test in uploads %}
          <dt>
          <div class="row">
          <a class="col-md-9" href="{{url_for('show_fixture', dirname='uploads', fixture=test)}}">{{test}}</a>
          {% if not readonly %}
          <form class="col-md-3" action={{url_for('remove')}} method="POST">
              <input type=hidden name="test" value="{{test}}">
              <input type=submit class="btn btn-xs btn-danger" value="REMOVE">
          </form>
          {% endif %}
          </div>
          </dt>
          {% endfor %}
        <dl>
    </div>
    {% if not readonly %}
    <div class="{{column_class}}">
        <h2>Upload a new tests</h2>
        <div ng-app="uploadApp">
            <upload-form action="{{url_for('upload')}}"
                         template="{{url_for('static', filename='ng_templates/upload_form.html')}}">
            </upload-form>
        </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
