<!doctype html>
<html lang="en">
<title>
  JSON Merger
</title>
<head>
{% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "main_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% block head %}
{% endblock %}
</head>
<style>
  .hdr {
    background-color: #113;
    color: white;
    text-align: right;
    padding-right: 3em;
  }
  .hdr a {
    text-decoration: none;
    color: inherit;
  }
</style>
<body>
<div class="row hdr">
  <a href="{{ url_for('index') }}"> <h1>JSON Record Merger</h1> </a>
  <h5> .. a proof of concept </h5>
</div>

{% block content %}
{% endblock %}
</body>
